.admonition {
  --admonition-color: #80ffe0;

  @apply mb-12;
  @apply border;

  border-color: var(--admonition-color);

  & > &-title {
    @apply m-0;
    @apply py-1;
    @apply text-base;
    @apply text-black;
    @apply uppercase;
    @apply font-bold;

    background-color: var(--admonition-color);
  }

  > * {
    @apply px-6;
  }

  > :not(:first-child) {
    @apply mt-6;
  }

  &.danger {
    --admonition-color: #ff8080;
  }

  &.warning {
    --admonition-color: #ffa680;
  }

  &.caution {
    --admonition-color: #ffc580;
  }

  &.error {
    --admonition-color: #fade7d;
  }

  &.important {
    --admonition-color: #f1f379;
  }

  &.attention {
    --admonition-color: #d8f97d;
  }

  &.note {
    --admonition-color: #80d1ff;
  }

  &.hint {
    --admonition-color: #8094ff;
  }

  &.tip {
    --admonition-color: #cf80ff;
  }
}
