/*
  Mixins for responding to breakpoints. Inspiration from:
  https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
*/

$breakpoints: (
  'xs': (
    min-width: 300px,
  ),
  'sm': (
    min-width: 495px,
  ),
  'md': (
    min-width: 875px,
  ),
  'lg': (
    min-width: 1150px,
  ),
  'xl': (
    min-width: 1425px,
  ),
);

@mixin _breakpoint_helper($key) {
  @if map-has-key($breakpoints, $key) {
    @media #{inspect(map-get($breakpoints, $key))} {
      @content;
    }
  } @else {
    @warn "`#{$key}` is not a valid key. Valid keys are: #{map-keys($breakpoints)}";
  }
}

@mixin breakpoint($keys...) {
  @each $key in $keys {
    @include _breakpoint_helper($key) {
      @content;
    }
  }
}
