// CSS Reset for better defaults
// https://github.com/sindresorhus/modern-normalize
@import 'modern-normalize/modern-normalize.css';
@import './app-bar.scss';
@import './breakpoints.scss';

// Variables
:root {
  --app-bar-height: 75px;
  --main-col-width: 775px;
  --side-col-width: 225px;
  --col-margin: 25px;
  --napari-columns: var(--side-col-width) var(--main-col-width);

  @include breakpoint('sm') {
    --col-margin: 50px;
  }

  @include breakpoint('xl') {
    --napari-columns: var(--side-col-width) var(--main-col-width)
      var(--side-col-width);
  }
}

.page {
  margin-top: calc(var(--app-bar-height) + var(--col-margin));
  display: flex;
  padding: 8px;
}

.content {
  width: 80vw;
}
