<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Site title-->
    {%- block htmltitle -%}
      {% if pagename == master_doc %}
        <title>{{ _("Home") }} - {{ docstitle|striptags|e }}</title>
      {% else %}
        <title>{{ title|striptags|e }} - {{ docstitle|striptags|e }}</title>
      {% endif %}
    {%- endblock -%}

    <link rel="shortcut icon" href="{{ pathto('_static/favicon.ico', 1) }}">
    <link rel="stylesheet" href="{{ pathto('_static/dist/main.css', 1) }}">
    <link rel="stylesheet" href="{{ pathto('_static/pygments.css', 1) }}">
    <link media="(prefers-color-scheme: dark)" rel="stylesheet" href="{{ pathto('_static/pygments_dark.css', 1) }}">
  </head>

  <body>
    {% block body %}
    {% endblock %}

    <!-- This is *exactly* how `basic` handles this file. -->
    <script
      id="documentation_options"
      data-url_root="{{ pathto('', 1) }}"
      src="{{ pathto('_static/documentation_options.js', 1) }}"
    ></script>

    <!--
      Script that reloads the browser on websocket reload events. This script
      is only available for use in the dev server.
    -->
    <script src="/reload/reload.js"></script>

    <script src="{{ pathto('_static/dist/main.js', 1) }}"></script>
  </body>
</html>
