html[data-theme="light"] .highlight pre { line-height: 125%; }
html[data-theme="light"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="light"] .highlight .hll { background-color: #ffffcc }
html[data-theme="light"] .highlight { background: #f7f7f7; }
html[data-theme="light"] .highlight .c { color: #6f6f6f; font-style: italic } /* Comment */
html[data-theme="light"] .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
html[data-theme="light"] .highlight .k { color: #7518a1; font-weight: bold } /* Keyword */
html[data-theme="light"] .highlight .n { color: #000000 } /* Name */
html[data-theme="light"] .highlight .o { color: #956441 } /* Operator */
html[data-theme="light"] .highlight .p { color: #000000 } /* Punctuation */
html[data-theme="light"] .highlight .ch { color: #6f6f6f; font-style: italic } /* Comment.Hashbang */
html[data-theme="light"] .highlight .cm { color: #6f6f6f; font-style: italic } /* Comment.Multiline */
html[data-theme="light"] .highlight .cp { color: #6f6f6f; font-weight: bold; font-style: italic } /* Comment.Preproc */
html[data-theme="light"] .highlight .cpf { color: #6f6f6f; font-style: italic } /* Comment.PreprocFile */
html[data-theme="light"] .highlight .c1 { color: #6f6f6f; font-style: italic } /* Comment.Single */
html[data-theme="light"] .highlight .cs { color: #6f6f6f; font-weight: bold; font-style: italic } /* Comment.Special */
html[data-theme="light"] .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
html[data-theme="light"] .highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
html[data-theme="light"] .highlight .gr { color: #990000 } /* Generic.Error */
html[data-theme="light"] .highlight .gh { color: #6f6f6f } /* Generic.Heading */
html[data-theme="light"] .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
html[data-theme="light"] .highlight .go { color: #6f6f6f } /* Generic.Output */
html[data-theme="light"] .highlight .gp { color: #555555 } /* Generic.Prompt */
html[data-theme="light"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="light"] .highlight .gu { color: #6f6f6f } /* Generic.Subheading */
html[data-theme="light"] .highlight .gt { color: #aa0000 } /* Generic.Traceback */
html[data-theme="light"] .highlight .kc { color: #7518a1; font-weight: bold } /* Keyword.Constant */
html[data-theme="light"] .highlight .kd { color: #7518a1; font-weight: bold } /* Keyword.Declaration */
html[data-theme="light"] .highlight .kn { color: #7518a1; font-weight: bold } /* Keyword.Namespace */
html[data-theme="light"] .highlight .kp { color: #7518a1; font-weight: bold } /* Keyword.Pseudo */
html[data-theme="light"] .highlight .kr { color: #7518a1; font-weight: bold } /* Keyword.Reserved */
html[data-theme="light"] .highlight .kt { color: #7518a1; font-weight: bold } /* Keyword.Type */
html[data-theme="light"] .highlight .m { color: #227b81 } /* Literal.Number */
html[data-theme="light"] .highlight .s { color: #0074b8 } /* Literal.String */
html[data-theme="light"] .highlight .na { color: #7518a1 } /* Name.Attribute */
html[data-theme="light"] .highlight .nb { color: #7518a1; font-weight: bold } /* Name.Builtin */
html[data-theme="light"] .highlight .nc { color: #5471a0; font-weight: bold } /* Name.Class */
html[data-theme="light"] .highlight .no { color: #7518a1 } /* Name.Constant */
html[data-theme="light"] .highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
html[data-theme="light"] .highlight .ni { color: #800080 } /* Name.Entity */
html[data-theme="light"] .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
html[data-theme="light"] .highlight .nf { color: #004166; font-weight: bold } /* Name.Function */
html[data-theme="light"] .highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
html[data-theme="light"] .highlight .nn { color: #555555 } /* Name.Namespace */
html[data-theme="light"] .highlight .nx { color: #000000 } /* Name.Other */
html[data-theme="light"] .highlight .py { color: #000000 } /* Name.Property */
html[data-theme="light"] .highlight .nt { color: #000080 } /* Name.Tag */
html[data-theme="light"] .highlight .nv { color: #7518a1 } /* Name.Variable */
html[data-theme="light"] .highlight .ow { color: #956441 } /* Operator.Word */
html[data-theme="light"] .highlight .pm { color: #000000 } /* Punctuation.Marker */
html[data-theme="light"] .highlight .mb { color: #227b81 } /* Literal.Number.Bin */
html[data-theme="light"] .highlight .mf { color: #227b81 } /* Literal.Number.Float */
html[data-theme="light"] .highlight .mh { color: #227b81 } /* Literal.Number.Hex */
html[data-theme="light"] .highlight .mi { color: #227b81 } /* Literal.Number.Integer */
html[data-theme="light"] .highlight .mo { color: #227b81 } /* Literal.Number.Oct */
html[data-theme="light"] .highlight .sa { color: #0074b8 } /* Literal.String.Affix */
html[data-theme="light"] .highlight .sb { color: #0074b8 } /* Literal.String.Backtick */
html[data-theme="light"] .highlight .sc { color: #0074b8 } /* Literal.String.Char */
html[data-theme="light"] .highlight .dl { color: #0074b8 } /* Literal.String.Delimiter */
html[data-theme="light"] .highlight .sd { color: #0074b8 } /* Literal.String.Doc */
html[data-theme="light"] .highlight .s2 { color: #0074b8 } /* Literal.String.Double */
html[data-theme="light"] .highlight .se { color: #0074b8 } /* Literal.String.Escape */
html[data-theme="light"] .highlight .sh { color: #0074b8 } /* Literal.String.Heredoc */
html[data-theme="light"] .highlight .si { color: #0074b8 } /* Literal.String.Interpol */
html[data-theme="light"] .highlight .sx { color: #0074b8 } /* Literal.String.Other */
html[data-theme="light"] .highlight .sr { color: #0074b8 } /* Literal.String.Regex */
html[data-theme="light"] .highlight .s1 { color: #0074b8 } /* Literal.String.Single */
html[data-theme="light"] .highlight .ss { color: #0074b8 } /* Literal.String.Symbol */
html[data-theme="light"] .highlight .bp { color: #7518a1; font-weight: bold } /* Name.Builtin.Pseudo */
html[data-theme="light"] .highlight .fm { color: #004166; font-weight: bold } /* Name.Function.Magic */
html[data-theme="light"] .highlight .vc { color: #7518a1 } /* Name.Variable.Class */
html[data-theme="light"] .highlight .vg { color: #7518a1 } /* Name.Variable.Global */
html[data-theme="light"] .highlight .vi { color: #7518a1 } /* Name.Variable.Instance */
html[data-theme="light"] .highlight .vm { color: #7518a1 } /* Name.Variable.Magic */
html[data-theme="light"] .highlight .il { color: #227b81 } /* Literal.Number.Integer.Long */
html[data-theme="dark"] .highlight pre { line-height: 125%; }
html[data-theme="dark"] .highlight td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
html[data-theme="dark"] .highlight .hll { background-color: #ffffcc }
html[data-theme="dark"] .highlight { background: #f7f7f7; }
html[data-theme="dark"] .highlight .c { color: #6f6f6f; font-style: italic } /* Comment */
html[data-theme="dark"] .highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
html[data-theme="dark"] .highlight .k { color: #7518a1; font-weight: bold } /* Keyword */
html[data-theme="dark"] .highlight .n { color: #000000 } /* Name */
html[data-theme="dark"] .highlight .o { color: #956441 } /* Operator */
html[data-theme="dark"] .highlight .p { color: #000000 } /* Punctuation */
html[data-theme="dark"] .highlight .ch { color: #6f6f6f; font-style: italic } /* Comment.Hashbang */
html[data-theme="dark"] .highlight .cm { color: #6f6f6f; font-style: italic } /* Comment.Multiline */
html[data-theme="dark"] .highlight .cp { color: #6f6f6f; font-weight: bold; font-style: italic } /* Comment.Preproc */
html[data-theme="dark"] .highlight .cpf { color: #6f6f6f; font-style: italic } /* Comment.PreprocFile */
html[data-theme="dark"] .highlight .c1 { color: #6f6f6f; font-style: italic } /* Comment.Single */
html[data-theme="dark"] .highlight .cs { color: #6f6f6f; font-weight: bold; font-style: italic } /* Comment.Special */
html[data-theme="dark"] .highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
html[data-theme="dark"] .highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
html[data-theme="dark"] .highlight .gr { color: #990000 } /* Generic.Error */
html[data-theme="dark"] .highlight .gh { color: #6f6f6f } /* Generic.Heading */
html[data-theme="dark"] .highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
html[data-theme="dark"] .highlight .go { color: #6f6f6f } /* Generic.Output */
html[data-theme="dark"] .highlight .gp { color: #555555 } /* Generic.Prompt */
html[data-theme="dark"] .highlight .gs { font-weight: bold } /* Generic.Strong */
html[data-theme="dark"] .highlight .gu { color: #6f6f6f } /* Generic.Subheading */
html[data-theme="dark"] .highlight .gt { color: #aa0000 } /* Generic.Traceback */
html[data-theme="dark"] .highlight .kc { color: #7518a1; font-weight: bold } /* Keyword.Constant */
html[data-theme="dark"] .highlight .kd { color: #7518a1; font-weight: bold } /* Keyword.Declaration */
html[data-theme="dark"] .highlight .kn { color: #7518a1; font-weight: bold } /* Keyword.Namespace */
html[data-theme="dark"] .highlight .kp { color: #7518a1; font-weight: bold } /* Keyword.Pseudo */
html[data-theme="dark"] .highlight .kr { color: #7518a1; font-weight: bold } /* Keyword.Reserved */
html[data-theme="dark"] .highlight .kt { color: #7518a1; font-weight: bold } /* Keyword.Type */
html[data-theme="dark"] .highlight .m { color: #227b81 } /* Literal.Number */
html[data-theme="dark"] .highlight .s { color: #0074b8 } /* Literal.String */
html[data-theme="dark"] .highlight .na { color: #7518a1 } /* Name.Attribute */
html[data-theme="dark"] .highlight .nb { color: #7518a1; font-weight: bold } /* Name.Builtin */
html[data-theme="dark"] .highlight .nc { color: #5471a0; font-weight: bold } /* Name.Class */
html[data-theme="dark"] .highlight .no { color: #7518a1 } /* Name.Constant */
html[data-theme="dark"] .highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
html[data-theme="dark"] .highlight .ni { color: #800080 } /* Name.Entity */
html[data-theme="dark"] .highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
html[data-theme="dark"] .highlight .nf { color: #004166; font-weight: bold } /* Name.Function */
html[data-theme="dark"] .highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
html[data-theme="dark"] .highlight .nn { color: #555555 } /* Name.Namespace */
html[data-theme="dark"] .highlight .nx { color: #000000 } /* Name.Other */
html[data-theme="dark"] .highlight .py { color: #000000 } /* Name.Property */
html[data-theme="dark"] .highlight .nt { color: #000080 } /* Name.Tag */
html[data-theme="dark"] .highlight .nv { color: #7518a1 } /* Name.Variable */
html[data-theme="dark"] .highlight .ow { color: #956441 } /* Operator.Word */
html[data-theme="dark"] .highlight .pm { color: #000000 } /* Punctuation.Marker */
html[data-theme="dark"] .highlight .mb { color: #227b81 } /* Literal.Number.Bin */
html[data-theme="dark"] .highlight .mf { color: #227b81 } /* Literal.Number.Float */
html[data-theme="dark"] .highlight .mh { color: #227b81 } /* Literal.Number.Hex */
html[data-theme="dark"] .highlight .mi { color: #227b81 } /* Literal.Number.Integer */
html[data-theme="dark"] .highlight .mo { color: #227b81 } /* Literal.Number.Oct */
html[data-theme="dark"] .highlight .sa { color: #0074b8 } /* Literal.String.Affix */
html[data-theme="dark"] .highlight .sb { color: #0074b8 } /* Literal.String.Backtick */
html[data-theme="dark"] .highlight .sc { color: #0074b8 } /* Literal.String.Char */
html[data-theme="dark"] .highlight .dl { color: #0074b8 } /* Literal.String.Delimiter */
html[data-theme="dark"] .highlight .sd { color: #0074b8 } /* Literal.String.Doc */
html[data-theme="dark"] .highlight .s2 { color: #0074b8 } /* Literal.String.Double */
html[data-theme="dark"] .highlight .se { color: #0074b8 } /* Literal.String.Escape */
html[data-theme="dark"] .highlight .sh { color: #0074b8 } /* Literal.String.Heredoc */
html[data-theme="dark"] .highlight .si { color: #0074b8 } /* Literal.String.Interpol */
html[data-theme="dark"] .highlight .sx { color: #0074b8 } /* Literal.String.Other */
html[data-theme="dark"] .highlight .sr { color: #0074b8 } /* Literal.String.Regex */
html[data-theme="dark"] .highlight .s1 { color: #0074b8 } /* Literal.String.Single */
html[data-theme="dark"] .highlight .ss { color: #0074b8 } /* Literal.String.Symbol */
html[data-theme="dark"] .highlight .bp { color: #7518a1; font-weight: bold } /* Name.Builtin.Pseudo */
html[data-theme="dark"] .highlight .fm { color: #004166; font-weight: bold } /* Name.Function.Magic */
html[data-theme="dark"] .highlight .vc { color: #7518a1 } /* Name.Variable.Class */
html[data-theme="dark"] .highlight .vg { color: #7518a1 } /* Name.Variable.Global */
html[data-theme="dark"] .highlight .vi { color: #7518a1 } /* Name.Variable.Instance */
html[data-theme="dark"] .highlight .vm { color: #7518a1 } /* Name.Variable.Magic */
html[data-theme="dark"] .highlight .il { color: #227b81 } /* Literal.Number.Integer.Long */