---
---

@import "{{ site.theme }}";

.inner {
  max-width: 773px;
}

img {
    max-width: 764px;
    width: 100%;
}

/* these will mostly apply when using {% include image.html %} */

figure {
    margin-bottom: 18px;
}

figure > img{
    margin-bottom: 5px;
}

figcaption {
    color: #777;
    font-style: italic;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}