pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.highlight .hll { background-color: #ffffcc }
.highlight { background: #f7f7f7; }
.highlight .c { color: #6f6f6f; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #7518a1; font-weight: bold } /* Keyword */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #956441 } /* Operator */
.highlight .p { color: #000000 } /* Punctuation */
.highlight .ch { color: #6f6f6f; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #6f6f6f; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #6f6f6f; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #6f6f6f; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #6f6f6f; font-style: italic } /* Comment.Single */
.highlight .cs { color: #6f6f6f; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #990000 } /* Generic.Error */
.highlight .gh { color: #6f6f6f } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #6f6f6f } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #6f6f6f } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #7518a1; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #7518a1; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #7518a1; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #7518a1; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #7518a1; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #7518a1; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #227b81 } /* Literal.Number */
.highlight .s { color: #0074b8 } /* Literal.String */
.highlight .na { color: #7518a1 } /* Name.Attribute */
.highlight .nb { color: #7518a1; font-weight: bold } /* Name.Builtin */
.highlight .nc { color: #5471a0; font-weight: bold } /* Name.Class */
.highlight .no { color: #7518a1 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #004166; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #7518a1 } /* Name.Variable */
.highlight .ow { color: #956441 } /* Operator.Word */
.highlight .mb { color: #227b81 } /* Literal.Number.Bin */
.highlight .mf { color: #227b81 } /* Literal.Number.Float */
.highlight .mh { color: #227b81 } /* Literal.Number.Hex */
.highlight .mi { color: #227b81 } /* Literal.Number.Integer */
.highlight .mo { color: #227b81 } /* Literal.Number.Oct */
.highlight .sa { color: #0074b8 } /* Literal.String.Affix */
.highlight .sb { color: #0074b8 } /* Literal.String.Backtick */
.highlight .sc { color: #0074b8 } /* Literal.String.Char */
.highlight .dl { color: #0074b8 } /* Literal.String.Delimiter */
.highlight .sd { color: #0074b8 } /* Literal.String.Doc */
.highlight .s2 { color: #0074b8 } /* Literal.String.Double */
.highlight .se { color: #0074b8 } /* Literal.String.Escape */
.highlight .sh { color: #0074b8 } /* Literal.String.Heredoc */
.highlight .si { color: #0074b8 } /* Literal.String.Interpol */
.highlight .sx { color: #0074b8 } /* Literal.String.Other */
.highlight .sr { color: #0074b8 } /* Literal.String.Regex */
.highlight .s1 { color: #0074b8 } /* Literal.String.Single */
.highlight .ss { color: #0074b8 } /* Literal.String.Symbol */
.highlight .bp { color: #7518a1; font-weight: bold } /* Name.Builtin.Pseudo */
.highlight .fm { color: #004166; font-weight: bold } /* Name.Function.Magic */
.highlight .vc { color: #7518a1 } /* Name.Variable.Class */
.highlight .vg { color: #7518a1 } /* Name.Variable.Global */
.highlight .vi { color: #7518a1 } /* Name.Variable.Instance */
.highlight .vm { color: #7518a1 } /* Name.Variable.Magic */
.highlight .il { color: #227b81 } /* Literal.Number.Integer.Long */